<header class="header section-wrapper blog">
    <div class="section-content-wide">
        <div class="section-gap">

            <h3 class="blog-title center pb-smlst">
                <a class="blog-link" href="/"> Blog </a>
            </h3>

            <p class="blog-description center pb-smlst">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>

            <div class="search center pb-smlst">
                <form class="search-form" action="#" method="get">
                    <div class="search-content">
                        <label class="sr-only" id="search-label" for="search-input">Search</label>
                        <input class="search-input" type="search" name="search" id="search-input" placeholder="Search">
                        <button class="search-btn" type="submit" aria-labelledby="search-label">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>

            <nav class="menu">
                <ul class="menu-items">
                    <li class="menu-item">
                        <a class="menu-link" href="/post">Post</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Categoria</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Galeria</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</header>