<div class="swiper tranding-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
                <img src="https://picsum.photos/1920/1080/?rand=5" alt="change me">
            </div>
        </div>
        <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
                <img src="https://picsum.photos/1920/1080/?rand=6" alt="change me">
            </div>
        </div>
        <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
                <img src="https://picsum.photos/1920/1080/?rand=7" alt="change me">
            </div>
        </div>
        <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
                <img src="https://picsum.photos/1920/1080/?rand=8" alt="change me">
            </div>
        </div>
        <div class="swiper-slide tranding-slide">
            <div class="tranding-slide-img">
                <img src="https://picsum.photos/1920/1080/?rand=9" alt="change me">
            </div>
        </div>
    </div>
</div>