{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% include "global/partials/_head.html" %}
    </head>
    <body>
        <div class="base-wrapper">
            {% include "global/partials/_header.html" %}
            
            {% include "global/partials/_messages.html" %}
            {% block content %} {% endblock content %}
            {% if  blog_setup.show_pagination %}
                {% include "global/partials/_pagination.html"%}
            {% endif %}

            {% if  blog_setup.show_footer %}
                {% include "global/partials/_footer.html"%}
            {% endif %}
        </div>
    </body>
</html>