{% load static %}
<footer class="footer section-wrapper">
    <div class="section-content-wide">
      <div class="section-gap">
        <div class="center">
          <a href="#"> © {% now "Y" %} Studio Tattoo & Piercing - Todos os direitos reservados. </a>
        </div>
      </div>
    </div>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script type="text/javascript" src="{% static 'global/js/toggle-button.js' %}"></script>
  <script type="text/javascript" src="{% static 'global/js/swiper-bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'global/js/auto-slide-change.js' %}"></script>
</footer>