<header class="header section-wrapper base">
    <div class="container">
        <div class="logo">
            <p>LOGO</p><!--<img src="sua-logo.png" alt="Logo do seu site">-->
        </div>
        <nav>
            <ul>
                <li><a href="#">Orçamento</a></li>
                <li><a href="#">Galeria</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>

        <div class="dark-theme">
            <input type="checkbox" id="toggle">
            <label class="toggle" for="toggle">
                <i class="fa-solid fa-moon"></i>
                <i class="fa-solid fa-sun"></i>
                <span class="ball"></span>
            </label>
        </div>
    </div>
</header>