{% load static %}
<section class="about-section">
    <div class="header-container">
        <h1 class="text-center section-heading"> Adicione Título Aqui</h1>
        <h3 class="text-center section-subheadding"> Adicione Sub-Título Aqui</h3>
    </div>
    <ul class="artist-list">
        <li class="artist">
            {% include "templates/main/partials/elements/artist/_artist-profile.html" %}
            <p class="excerpt">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati quod itaque molestias maiores odit aspernatur a asperiores officia quidem
                repellendus alias illum facilis, placeat beatae delectus corrupti facere.
            </p>
            <div class="social-media">
                {% include "templates/main/partials/elements/buttons/_instagram.html" %}
                {% include "templates/main/partials/elements/buttons/_facebook.html" %}
                {% include "templates/main/partials/elements/buttons/_whatsapp.html" %}
            </div>
        </li>
        <li class="artist">
            {% include "templates/main/partials/elements/artist/_artist-profile.html" %}
            <p class="excerpt">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati quod itaque molestias maiores odit aspernatur a asperiores officia quidem
                repellendus alias illum facilis, placeat beatae delectus corrupti facere.
            </p>
            <div class="social-media">
                {% include "templates/main/partials/elements/buttons/_instagram.html" %}
                {% include "templates/main/partials/elements/buttons/_facebook.html" %}
                {% include "templates/main/partials/elements/buttons/_whatsapp.html" %}
            </div>
        </li>
    </ul>
    <ul class="about-us">
        <li class="about-item">
            <div class="about-content">
                <h3 class="about-title">Adicionar Título Aqui</h3>
                <p class="about-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Aut autem nam consectetur nesciunt quod. Blanditiis qui, magni vel hic commodi
                    delectus a cupiditate placeat, enim illum deserunt! Cupiditate, repellat inventore.
                    Obcaecati quod itaque molestias maiores odit aspernatur a asperiores officia quidem
                    repellendus alias illum facilis, placeat beatae delectus corrupti facere.
                    Aut autem nam consectetur nesciunt quod!
                </p>
            </div>
            {% include "templates/main/partials/elements/carousel/slides/_slider-manual-btn.html" %}
        </li>
    </ul>
</section>