{% load static %}
<section class="about-section">
    <div class="header-container">
        <h3 class="text-center section-subheadding"> Adicione Sub-Título Aqui</h3>
        <h1 class="text-center section-heading"> Adicione Título Aqui</h1>
    </div>
    <ul class="artist-list">
        <li class="artist">
            {% include "templates/main/partials/elements/artist/_artist-profile.html" %}
            <i class="excerpt">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Obcaecati quod itaque molestias maiores odit aspernatur a asperiores officia quidem 
                repellendus alias illum facilis, placeat beatae delectus corrupti facere.
            </i>
        </li>
        <li class="artist">
            {% include "templates/main/partials/elements/artist/_artist-profile.html" %}
            <i class="excerpt">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Obcaecati quod itaque molestias maiores odit aspernatur a asperiores officia quidem 
                repellendus alias illum facilis, placeat beatae delectus corrupti facere.
            </i>
        </li>
    </ul>
    <ul class="about-us">
        <li class="about-item">
            <div class="about-content">
                <h3 class="about-title">Adicionar Título Aqui</h3>
                <p class="about-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Aut autem nam consectetur nesciunt quod. Blanditiis qui, magni vel hic commodi
                    delectus a cupiditate placeat, enim illum deserunt! Cupiditate, repellat inventore.
                    Obcaecati quod itaque molestias maiores odit aspernatur a asperiores officia quidem
                    repellendus alias illum facilis, placeat beatae delectus corrupti facere. 
                    Aut autem nam consectetur nesciunt quod!
                </p>
            </div>
            <img src="https://picsum.photos/600/400/?rand=12" 
                alt="Estúdio" class="about-image" loading="lazy"
            >
        </li>
    </ul>
</section>