{% load static %}
<section class="body-art budget">
    <div class="left-side">
        <img src="https://picsum.photos/1920/1080/?rand=1" alt="Fundo 1" class="background-image">
        <div class="budget-content">
            <div class="budget-header">
                <h2>Adicione o Título Aqui</h2>
                <p>Adicione o Subtítulo ou frase de efeito aqui</p>
                <a href="#" class="button view">Ver Tatuagens</a>
            </div>
            {% include "templates/main/partials/elements/artist_profile/_artist-circle.html" %}
        </div>
    </div>
    <div class="right-side">
        <img src="https://picsum.photos/1920/1080/?rand=2" alt="Fundo 2" class="background-image">
        <div class="budget-content">
            <div class="budget-header">
                <h2>Adicione o Título Aqui</h2>
                <p>Adicione o Subtítulo ou frase de efeito aqui</p>
                <a href="#" class="button view">Ver Piercings</a>
            </div>
            {% include "templates/main/partials/elements/artist_profile/_artist-circle.html" %}
        </div>
    </div>
</section>