<section class="section-carousel" id="tranding">
    <div class="header-container">
        <h1 class="text-center section-heading"> Adicione Título Aqui</h1>
        <h3 class="text-center section-subheadding"> Adicione Sub-Título Aqui</h3>
    </div>

    <div class="slide-container">
        {% include "templates/main/partials/elements/carousel/bundle/_swiper-slides.html" %}
        {% include "templates/main/partials/elements/carousel/bundle/_slider-control.html" %}
    </div>
    <button class="gallery-button">Ver Galeria</button>
</section>