<section class="section-carousel">
    <div class="container">
        <h3 class="text-center section-subheadding"> Adicione Sub-Título Aqui</h3>
        <h1 class="text-center section-heading"> Adicione Título Aqui</h1>
    </div>
    <div class="container">
        <div class="swiper tranding-slider">
            <div class="swiper-wraper">
                {% include "templates/main/partials/elements/carousel/_img-slider.html" %}
            </div>
            {% include "templates/main/partials/elements/carousel/_control-slider.html" %}
        </div>
    </div>
</section>