<section class="review-section">
    <div class="content">
        <h3>Adicione Sub-Título Aqui</h3>
        <h1>Adicione Título Aqui</h1>
    </div>

    <div class="testimonials">
        <div class="single">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laboriosam natus exercitationem quod.</p>
            <div class="testimonial">
                <img src="https://picsum.photos/600/400/?rand=16" alt="Perfil do Cliente" loading="lazy">
                <div class="info">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
        </div>
        <div class="single">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laboriosam natus exercitationem quod.</p>
            <div class="testimonial">
                <img src="https://picsum.photos/600/400/?rand=17" alt="Perfil do Cliente" loading="lazy">
                <div class="info">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
        </div>
        <div class="single">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laboriosam natus exercitationem quod.</p>
            <div class="testimonial">
                <img src="https://picsum.photos/600/400/?rand=18" alt="Perfil do Cliente" loading="lazy">
                <div class="info">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
        </div>
        <div class="single">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laboriosam natus exercitationem quod.</p>
            <div class="testimonial">
                <img src="https://picsum.photos/600/400/?rand=19" alt="Perfil do Cliente" loading="lazy">
                <div class="info">
                    <h3>Lorem Ipsum</h3>
                </div>
            </div>
        </div>
    </div>
</section>