<section class="services-section">
    <div class="header-container">
        <h1 class="text-center section-heading"> Adicione Título Aqui</h1>
    </div>
    <div class="services-cards">
        <div class="service-item">
            <div class="service-background-overlay"></div>
            <img src="https://picsum.photos/1920/1080/?rand=10" 
                alt="Serviços de Tatuagem" 
                class="service-background-image" 
                loading="lazy"
            >
            <div class="service-content">
                <h3 class="service-subtitle">Serviços de Tatuagem</h3>
                <p class="service-body">Breve descrição do serviço 1</p>
                <p class="service-body">Breve descrição do serviço 2</p>
            </div>
        </div>
        <div class="service-item">
            <div class="service-background-overlay"></div>
            <img src="https://picsum.photos/1920/1080/?rand=11"
                alt="Serviços de Piercing" 
                class="service-background-image"
                loading="lazy"
            >
            <div class="service-content">
                <h3 class="service-subtitle">Serviços de Body Piercing</h3>
                <p class="service-body">Breve descrição do serviço 1</p>
                <p class="service-body">Breve descrição do serviço 2</p>
            </div>
        </div>
    </div>
</section>