<header class="header section-wrapper gallery">
    <h5 class="gallery-title mrg-micro">
        <i class="fa-regular fa-images"></i> 
        {{ gallery_setup.title }}
    </h5>

    {% if gallery_setup.show_search %}
    <div class="search gallery pb-smlst">
        <form class="search-form" action="{% url "gallery:search" %}" method="get">
            <div class="search-content">
                <label class="sr-only" id="search-label" for="search-input">Search</label>
                <input 
                    class="search-input" 
                    type="search" 
                    name="search" 
                    id="search-input" 
                    placeholder="Pesquisar"
                    value= {{ search_value }}
                >
                {% if selected_style %}
                    <input type="hidden" name="style" value="{{ selected_style }}">
                {% endif %}
                {% if selected_category %}
                    <input type="hidden" name="category" value="{{ selected_category }}">
                {% endif %}
                <button class="search-btn" type="submit" aria-labelledby="search-label">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    {% endif %}

    {% if gallery_setup.show_menu %}
    <nav class="menu gallery-filters">
        <div class="filter-dropdown-wrapper">
            <button id="filter-toggle-btn" class="menu-gallery-toggle-btn">
                <span>Filtrar<span>
                <i class="fa-solid fa-chevron-down rotating-icon"></i>
            </button>
            <nav id="filter-gallery" class="dropdown-filter-gallery">
                <h5>Estilos de Tatuagem</h5>
                {% if tattoo_styles %}
                    <ul>
                        <li class="{% if tattoo_category.slug == selected_category %}active{% endif %}">
                            {% if tattoo_category.slug == selected_category %}
                                <a href="{% url 'gallery:search' %}{% if search_value %}?search={{ search_value }}{% endif %}">
                                    Todos
                                </a>
                            {% else %}
                                <a href="{% url 'gallery:search' %}?category={{ tattoo_category.slug }}{% if search_value %}&search={{ search_value }}{% endif %}">
                                    Todos
                                </a>
                            {% endif %}
                        </li>
                        {% for style in tattoo_styles %}
                            <li class="{% if style.slug == selected_style %}active{% endif %}">
                                {% if style.slug == selected_style %}
                                    <a href="{% url 'gallery:search' %}{% if search_value %}?search={{ search_value }}{% endif %}{% if selected_category %}{% if search_value %}&{% else %}?{% endif %}category={{ selected_category }}{% endif %}">
                                        {{ style.name }}
                                    </a>
                                {% else %}
                                    <a href="{% url 'gallery:search' %}?style={{ style.slug }}{% if search_value %}&search={{ search_value }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}">
                                        {{ style.name }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <ul>
                        <li class="{% if selected_category %}active{% endif %}">
                            {% if tattoo_category.slug == selected_category %}
                                <a href="{% url 'gallery:search' %}{% if search_value %}?search={{ search_value }}{% endif %}">
                                    Todos
                                </a>
                            {% else %}
                                <a href="{% url 'gallery:search' %}?category={{ tattoo_category.slug }}{% if search_value %}&search={{ search_value }}{% endif %}">
                                    Todos
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
                <div class="line"></div>
                <h5>Tipos de Piercing</h5>
                {% if piercing_styles %}
                    <ul>
                        <li class="{% if selected_category %}active{% endif %}">
                            {% if piercing_category.slug == selected_category %}
                                <a href="{% url 'gallery:search' %}{% if search_value %}?search={{ search_value }}{% endif %}">
                                    Todos
                                </a>
                            {% else %}
                                <a href="{% url 'gallery:search' %}?category={{ piercing_category.slug }}{% if search_value %}&search={{ search_value }}{% endif %}">
                                    Todos
                                </a>
                            {% endif %}
                        </li>
                        {% for style in piercing_styles %}
                            <li class="{% if style.slug == selected_style %}active{% endif %}">
                                {% if style.slug == selected_style %}
                                    <a href="{% url 'gallery:search' %}{% if search_value %}?search={{ search_value }}{% endif %}{% if selected_category %}{% if search_value %}&{% else %}?{% endif %}category={{ selected_category }}{% endif %}">
                                        {{ style.name }}
                                    </a>
                                {% else %}  
                                    <a href="{% url 'gallery:search' %}?style={{ style.slug }}{% if search_value %}&search={{ search_value }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}">
                                        {{ style.name }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <ul>
                        <li class="{% if piercing_category.slug == selected_category %}active{% endif %}">
                            {% if piercing_category.slug == selected_category %}
                                <a href="{% url 'gallery:search' %}{% if search_value %}?search={{ search_value }}{% endif %}">
                                    Todos
                                </a>
                            {% else %}
                                <a href="{% url 'gallery:search' %}?category={{ piercing_category.slug }}{% if search_value %}&search={{ search_value }}{% endif %}">
                                    Todos
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
            </nav>
        </div>
    </nav>
    {% endif %}
</header>