<header class="header section-wrapper gallery">
    <h5 class="gallery-title mrg-micro">
        <i class="fa-regular fa-images"></i> {{ gallery_setup.title }}
    </h5>

    {% if gallery_setup.show_search %}
    <div class="search gallery pb-smlst">
        <form class="search-form" action="#" method="get">
            <div class="search-content">
                <label class="sr-only" id="search-label" for="search-input">Search</label>
                <input 
                    class="search-input" 
                    type="search" 
                    name="search" 
                    id="search-input" 
                    placeholder="Pesquisar"
                    value= {{ search_value }}
                >
                <button class="search-btn" type="submit" aria-labelledby="search-label">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    {% endif %}

    {% if gallery_setup.show_menu %}
    <nav class="menu gallery">
        <i class="fa-solid fa-filter"></i>
        <p>Filtros<p>
        <ul class="menu-items on-left">
            <li class="menu-item">
                <a class="btn menu-link" href="#" target="_blank">
                    Tatuagens
                </a>
                <a class="btn menu-link" href="#">
                    Piercings
                </a>
                <a class="btn menu-link" href="#">
                    Todos
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
</header>