<header class="header section-wrapper gallery">
    <h5 class="gallery-title mrg-micro">
        <i class="fa-regular fa-images"></i> {{ gallery_setup.title }}
    </h5>

    {% if gallery_setup.show_search %}
    <div class="search gallery pb-smlst">
        <form class="search-form" action="{% url "gallery:search" %}" method="get">
            <div class="search-content">
                <label class="sr-only" id="search-label" for="search-input">Search</label>
                <input 
                    class="search-input" 
                    type="search" 
                    name="search" 
                    id="search-input" 
                    placeholder="Pesquisar"
                    value= {{ search_value }}
                >
                {% if selected_style %}
                    <input type="hidden" name="style" value="{{ selected_style }}">
                {% endif %}
                {% if selected_category %}
                    <input type="hidden" name="category" value="{{ selected_category }}">
                {% endif %}
                <button class="search-btn" type="submit" aria-labelledby="search-label">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    {% endif %}

    {% if gallery_setup.show_menu %}
    <nav class="menu gallery">
        <i class="fa-solid fa-filter"></i>
        <p>Filtros<p>
        <ul class="menu-items on-left">
            <li class="menu-item">
                {% for category in category_objs %}
                    <a class="btn menu-link"  href="{% url 'gallery:search' %}?category={{ category.slug }}{% if search_value %}&search={{ search_value }}{% endif %}{% if selected_style %}&style={{ selected_style }}{% endif %}" >
                        {{ category.name }}
                    </a>
                {% endfor %}
                <a class="btn menu-link" href="{{ gallery_setup.menu.first.url_or_path }}">
                    Todos
                </a>
            </li>
            <li class="menu-item">
                {% for style in style_objs %}
                    <a class="btn menu-link" href="{% url 'gallery:search' %}?style={{ style.slug }}{% if search_value %}&search={{ search_value }}{% endif %}{% if selected_category %}&category={{ selected_category }}{% endif %}">
                        {{ style.name }}
                    </a>
                {% endfor %}
            </li>
        </ul>
    </nav>
    {% endif %}
</header>