<article class="gallery">
  <div class="card-image-wrapper">
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/600/960/?rand=1" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/960/600/?rand=2" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/600/960/?rand=3" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/960/600/?rand=4" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/600/960/?rand=5" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/960/600/?rand=6" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/600/960/?rand=7" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/960/600/?rand=8" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/600/960/?rand=9" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/960/600/?rand=10" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/600/960/?rand=11" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/960/600/?rand=12" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/600/960/?rand=13" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/960/600/?rand=14" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/600/960/?rand=15" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/960/600/?rand=16" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/600/960/?rand=17" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/960/600/?rand=18" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/600/960/?rand=19" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/600/960/?rand=20" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/600/960/?rand=21" 
      alt="Change me"
    >
    <img
      class="card-image"
      loading="lazy"
      src="https://picsum.photos/600/960/?rand=22" 
      alt="Change me"
    >
  </div>
</article>