:root {
    --primary-bg: rgb(15, 15, 15);
    --second-bg: rgba(25, 25, 25, 1);
    --primary-text: hsl(220, 30%, 96%);
}

body {
    background: var(--primary-bg);
    background: linear-gradient(
        180deg, 
        var(--primary-bg) 0%,
        var(--second-bg) 50%,
        var(--primary-bg) 100%
    );
    color: var(--primary-text);
}

a {
    color: var(--clr-blue-ltst);
}

a:hover {
    color: var(--clr-blue-ltr);
}

.separator {
    background-color: var(--clr-silver);
}

/* Header Base */
header {
    color: var(--clr-white-dk);
}

.header.section-wrapper.base {
   background-color: var(--clr-black-drk);
}

#bar-icon {
    color: var(--clr-white);
}

#close-icon {
    color: var(--clr-white);
}

.logo a > h3 {
    color: var(--clr-white);
}

nav li a{
    color: var(--primary-text);
}

nav li a:hover {
    color: var(--clr-silver-dk);
}

.login a {
    color: var(--primary-text);
}

.login a:hover {
    color: var(--clr-silver-dk);
}

/* Section body-art budget */
.budget-content { 
    color: var(--primary-text);
}

.artist .button {
    color: var(--primary-text);
}

.button.view {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.button.view:hover {
    background-color: rgba(0, 0, 0, 1);
}

/* Carousel */
.tranding-slider-control .slider-arrow {
    color: var(--primary-text);
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    background-color: var(--clr-gold);
}

.gallery-button {
    background: linear-gradient(
        140deg,
        var(--clr-silver-ltr) 0%,
        var(--clr-silver) 25%,
        var(--clr-silver-dk) 50%,
        var(--clr-silver) 75%,
        var(--clr-silver-ltr) 100%
    );
    background-size: 200% 100%; /* make the gradient twice as wide */
    background-position: 0% 0%; /* initial position of the gradient */
    transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
    color: var(--clr-black-lt);
}

.gallery-button:hover {
    background-position: 100% 0%; /* slide the gradient to the right */
}

/* About-section */

.artist-list li {
    border: 1px solid var(--clr-silver-dkst);
    box-shadow: 0 8px 16px rgba(233, 229, 229, 0.1);
}

.artist-list li:hover {
    box-shadow: 0 12px 24px rgba(233, 229, 229, 0.3);
}

.about-item {
    border: 1px solid var(--clr-silver-dkst);
    box-shadow: 0 8px 16px rgba(233, 229, 229, 0.1);
}

.about-item:hover {
    box-shadow: 0 12px 24px rgba(233, 229, 229, 0.3);
}

.about-section .artist .button:hover {
  box-shadow:  0 2px 4px var(--clr-silver);
}

.manual-btn {
  border: 2px solid var(--clr-silver);
}

/* Reviews-section */

.single {
    border: 1px solid var(--clr-silver-dkst);
    box-shadow: 0 8px 16px rgba(233, 229, 229, 0.1);
}

/* Header-blog */
.blog-link {
    color: var(--clr-black);
}

.blog-description{
    color: var(--clr-black);
}

.blog-link:hover {
    color: var(--clr-silver-dkr);
}

.header.section-wrapper.blog{
    border-top: 1px solid var(--clr-silver);
    border-bottom: 1px solid var(--clr-silver);
    box-shadow: 0 2px 12px var(--clr-white);
}

.header.section-wrapper.blog{
    background: linear-gradient(
        180deg, 
        var(--clr-silver-dk) 0%,
        var(--clr-silver-lt) 50%,
        var(--clr-silver-ltr) 100%
    );
}

.menu-link{
    color: var(--clr-gold-dkr);
}
.menu-link:hover{
    color: var(--clr-gold-dk);
}

/* Post-card */
.card {
    box-shadow: 0 2px 4px var(--clr-white);
}

.card:hover {
    box-shadow: 0 6px 12px var(--clr-white);
}

.card-action-link i{
    color: var(--clr-blue-ltst);
}

.card-action-link span{
    color: var(--clr-blue-ltst);
}

/* Search */
.search-input {
    border: 0;
    box-shadow:  2px 4px 6px var(--clr-silver-dkst);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.search-input::placeholder {
    color: var(--clr-silver-dkst);
}

.search-input:focus {
    box-shadow:  2px 4px 6px var(--clr-black-lt);
}

.search-input:hover {
    box-shadow:  2px 4px 6px var(--clr-black-lt);
}

.search-btn {
    color: var(--clr-silver);
}

.search-content i{
    color: var(--clr-silver-dkst);
}

.search-content:focus-within .search-btn {
    color: var(--clr-blue-ltr);
}

.search-content:focus-within {
  border-top: 1px solid var(--clr-silver-ltr);
  border-left: 1px solid var(--clr-silver-ltr);
}

/* Post Meta */
.post-meta-item {
    color: var(--clr-blue-ltst);
}

.post-meta-link {
    color: var(--clr-blue-ltst);
}

/* Single Post */
.single-post-excerpt {
    color: var(--clr-silver);
}

/* Post Tags */
.post-tags .post-tag-link,
.post-tags .post-tag-link i {
    color: var(--clr-blue-ltst);
}

.post-tags .post-tag-link:hover,
.post-tags .post-tag-link:hover i {
    color: var(--clr-blue-ltst);
}

/*Header Gallery*/

.header.section-wrapper.gallery {
    border-bottom: 1px solid var(--clr-silver);
    box-shadow: 0 2px 12px var(--clr-white);
}

.header.section-wrapper.gallery {
    background: linear-gradient(
        180deg, 
        var(--clr-silver-dk) 0%,
        var(--clr-silver-lt) 50%,
        var(--clr-silver-ltr) 100%
    );
}

.gallery-title{
    color: var(--clr-black-lt);
}

.search.gallery > .search-form >
.search-content > .search-input:focus {
    box-shadow:  2px 4px 6px var(--clr-black-lt);
}

.search.gallery > .search-form >
.search-content > .search-input:hover {
    box-shadow:  2px 4px 6px var(--clr-black-lt);
}

.gallery-link {
    color: var(--clr-black);
}

.gallery-link:hover {
    color: var(--clr-silver-dkr);
}

.menu.gallery-filters > i{
    color: var(--clr-silver-dkst);
}

.menu.gallery-filters > p{
    color: var(--clr-silver-dkst);
}

.show-more-icon {
    color: var(--clr-silver);
    background-color: var(--clr-black);
}

.show-more-icon:hover{
    color: var(--clr-white);
}

.show-more-icon:active {
    background-color: var(--clr-black-lt);
}

.menu-gallery-toggle-btn {
  background-color: var(--clr-black-lt);
}

.menu-gallery-toggle-btn > i {
  color: var(--clr-white);
}

.menu-gallery-toggle-btn > span {
  color: var(--clr-white);
}

.menu-gallery-toggle-btn:hover {
  background-color: var(--clr-black-drk);
}

.filter-dropdown-wrapper.active .menu-gallery-toggle-btn {
    background-color: var(--clr-black-drk);
}

.dropdown-filter-gallery li {
  color: var(--clr-white);
  font-size: var(--fs-smlr);
}

.dropdown-filter-gallery {
    background-color: var(--clr-black);
    box-shadow: 0 8px 12px 0 rgba(255, 255, 255, 0.5);
}

.dropdown-filter-gallery h5 {
    color: var(--clr-white);
}

.dropdown-filter-gallery .line {
    background-color: var(--clr-silver-dkst);
}

.dropdown-filter-gallery li {
    background-color: var(--clr-black-lt);
}

.dropdown-filter-gallery li a {
    color: var(--clr-white);
}

.dropdown-filter-gallery li a:hover {
  color: var(--clr-white);
}

.dropdown-filter-gallery li:hover {
  background-color: var(--clr-black-drk);
}

.dropdown-filter-gallery li.active {
    background-color: var(--clr-black-drk); 
}

/* Footer */

.footer {
    background-color: var(--clr-black-drk);
}

.footer a {
    color: var(--primary-text);
}

.footer a:hover {
    color: var(--clr-blue-ltst);
}

.footer-list .footer-link > span {
    color: var(--clr-silver);
}

/*Base header*/

@media (max-width: 768px) {
  nav > ul {
    background: linear-gradient(
      180deg,
      var(--clr-black-drk) 25%,
      var(--clr-black) 70%,
      var(--clr-black-lt)
    );
    box-shadow: 0 2px 6px var(--clr-silver);
  }
}